/****************************************************************************/

/** General Settings **/

/****************************************************************************/

* {
	padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
 }
 
html {
	height: 100%;
}

body {
    width: 100%;
	margin: 0 auto;
	padding: 0px;
	background-color: #fff !important;
	font-family: 'Roboto', sans-serif !important;
	font-weight: 300 !important;
    color: #333;
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300 !important;
	color: #27588D !important;
	text-align: center;

}

h1{
	font-size: 48px !important;
}

@media all and (max-width: 980px) {
	body h1 {
	font-size: 42px !important;
}
}

@media all and (max-width: 600px) {
	body h1 {
	font-size: 36px !important;
}
}

h2 {
	font-size: 36px !important;	
}

@media all and (max-width: 980px) {
	body h2 {
	font-size: 30px !important;
}
}


h3 {
	font-size: 30px !important;
}

@media all and (max-width: 980px) {
	body h3 {
	font-size: 24px !important;
}
}

h4 {font-size: 20px !important;
	}
	
	
h5 {font-size: 18px !important;
	}
	

a, p, span {
	font-size: 18px !important;
}

@media all and (max-width: 980px) {
	a, p, span {
	font-size: 16px !important;
}
}

.smallp, input, select, label {
	font-size: 16px !important;
}

@media all and (max-width: 980px) {
	.smallp, input, select, label {
	font-size: 14px !important;
}
}

a {font-weight: 300 !important;
   background-color: transparent !important;
}

a:hover {
	text-decoration: underline !important;
}

img {
    width: 100%;
    height: 100%;
}

a:link    {color:#275884; background-color:transparent; text-decoration:none; z-index: 1; position: relative;}
a:visited {color:#275884; background-color:transparent; text-decoration:none}
a:hover   {color:#275884; background-color:transparent; text-decoration:none}
a:active  {color:#275884; background-color:transparent; text-decoration:none}

.main-container {
	position: relative;
	width: 100%;
}

.standard-div {
	position: relative;
    width: 100%;
    display: inline-block;
	min-height: 500px;
}

.hundred-top-margin {
	margin: 100px auto;
}

.fifty-top-margin {
	position: relative;
	display: inline-block;
	margin: 50px auto 0 auto;
	width: 100%;
}

.fifty-margin {
	position: relative;
	display: inline-block;
	margin: 50px auto;
	width: 100%;
}

.twenty-margin {
	position: relative;
    display: inline-block;
    margin: 20px auto;
    width: 100%;
}

.row {
	margin: 0 auto !important;
}

button:hover {
	text-decoration: underline !important;
}

.float-right {
	float: right;
}

.red-text {
	color: red;
}

.green-text {
	color: green;
}

.grey-background {
    background-color: #e1e1e1;
    padding: 20px 25px;
}

.standard-width {
    position: relative;
    padding: 0 10%;
}

.col-fifty {
	width: 50%;
	float: left;
}

textarea {
    position: relative;
    width: 100% !important;
    font-size: 16px;
}

.dateErrorMessage, .documentTypeErrorMessage, .fileErrorMessage
, .companyErrorMessage, .userIdErrorMessage, .userFirstNameErrorMessage, .userLastNameErrorMessage
, .emailErrorMessage, .passwordErrorMessage, .passwordConfirmErrorMessage
, .oldPasswordErrorMessage, .newPasswordErrorMessage, 
.fileSizeErrorMessage, .newPasswordConfirmErrorMessage {
	display: none;
	color: red;
    font-size: 14px !Important;
    text-align: left !Important;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 5px 5px; white-space: nowrap; overflow: hidden;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #3399FF; }

.form-label {
    float: left;
    width: 250px;
    padding: 7px 5px;
    text-align: right;
	font-size: 16px;
}

.text-align {
	text-align:center !important;
}

.row-buttons {
	position: relative;
	margin: 25px auto;
}

.shadow {
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.button-no-underline {
	height: 34px;
    padding: 0 10px;
    border-radius: 0;
}

th {
    font-weight: bold;
}
textarea {
    padding: 20px;
}


/****************************************************************************/

/** Top Nav **/

/****************************************************************************/

.nav-header-top {
    position: relative;
    width: 100%;
    padding: 0 5px;
    overflow: hidden;
}

.nav-header {
    position: relative;
    background-color: #27588d;
    background-color: rgba(37,88,141,.95);
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    top: 0px;
    text-align: center;
    height: 39px;
    z-index: 100;
    text-align: left;
}

.nav-header > a {
	color: #ffffff;
	padding-left: 5px;
}

/* logo */

.nav-header-left {
    position: relative;
	float: left;
}

.nav-header-left img {
    width: 210px;
    height: 38px;
	z-index: 50;

}

.brandLogo {
    background-image: url("../img/tarion_logo.png");
    background-repeat: no-repeat;
    height: 38px;
    margin: 15px 0 15px 15px;
    padding: 0;
    width: 210px;
    line-height: 20px;
    display: block;
}

 
#logo:hover {opacity: 1;
 -no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  } 
  
/****************************************************************************/

/** Login Page **/

/****************************************************************************/

div#loginFrame {
	position: relative;
	top: 75px;
	max-width: 500px;
    padding: 30px 50px;
    margin: 0 auto;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.logoutLink {
	position: relative;
    float: right;
    line-height: 57px;
	right: 5%;
}

.logoutLink a {
    font-size: 18px;
}

/****************************************************************************/

/** Search Companies Like Page **/

/****************************************************************************/

.search-companies-buttons {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 25px 0 0 0;
}

.search-companies-buttons a {
    margin: 0 0 0 10px !important;
}

/****************************************************************************/

/** Search Projects **/

/****************************************************************************/

select#searchSelect {
    width: 33%;
    min-width: 150px;
	float: left;
}

.search-project {
    width: 85%;
    position: relative;
    float: left;
}

.search-button {
    width: 10%;
    float: right;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 100%;
}

input#streetNumber {
    width: 20%;
    min-width: 190px;
    margin: 0 10px;
}

input#streetName {
    width: 20%;
    min-width: 190px;
}

input#projectEnrolment {
    width: 35%;
    min-width: 190px;
    margin: 0 10px;
}

input#projectName {
    width: 40%;
    min-width: 190px;
    margin: 0 10px;
}


/****************************************************************************/

/** Create User **/

/****************************************************************************/


.checked-row {
    position: relative;
    margin: 0 auto;
    width: 300px;
	margin: 25px auto 0 auto;
}

.eight-hundred-width {
    position: relative;
    margin: 0 auto;
    width: 800px;
}

#create-user .form-control {
    max-width: 220px;
	float: left;
}

#create-user {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7 !important;
    border-color: #337ab7;
}
    padding: 5%;
}


/****************************************************************************/

/** Update User **/

/****************************************************************************/

#update-user .form-control {
    max-width: 220px;
	float: left;
}

#update-user {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    padding: 5%;
}

/****************************************************************************/

/** Upload Document **/

/****************************************************************************/

form#fileUploadForm .form-control {
    width: 150px;
}

select#templateTypeSelect {
    width: 90% !important;
}

form#fileUploadForm .form-label {
    float: left;
	width: 100px;
    text-align: right;
    padding: 7px 5px;
    font-size: 16px;
}

/****************************************************************************/

/** Footer **/

/****************************************************************************/

.footer-btm{
	min-height:60px;
	background:#363636;
	color: #fff;
	font-size: 16px;
}

.footer-left {
    width: 75%;
    float: left;
}

.footer-right {
    float: right;
}

.inner-footer {
	position: relative;
	padding: 0 5%;
    display: inline-block;
    width: 100%;
}

.footer-btm a {
    display: inline-block;
    line-height: 60px;
    padding-right: 32px;
}

.footer-btm .copy, .footer-btm a  {
    font-size: 16px !important;
}

.footer-btm .copy {
    display: inline-block;
    line-height: 60px;
    float: right;
}

footer a, footer a:link, footer a:visited {
	color:#fff;
	text-decoration:none;
}
footer a:hover, footer a:active, footer a:focus {
	color:#ffb602;
	text-decoration:none;

}
footer .footer-social a, footer .footer-social a:link, footer .footer-social a:visited {
	color:#f3f3f3;
	text-decoration:none;
}
footer .footer-social a:hover, footer .footer-social a:active, footer .footer-social a:focus {
	color:#ffb602;
	text-decoration:none;
}
/****************************************************************************/

/** Bootstrap Mods **/

/****************************************************************************/

.btn-primary {
	position: relative;
    background-color: rgba(37,88,141,.95) !important;
	color: #fff !important;
    text-transform: uppercase !important;
    background-image: none !important;
    padding: 6px 12px;
	margin: 0 10px;
    font-size: 14px !important;
    -moz-user-select: none;
    -ms-user-select: none;
    border-radius: 3px;
    text-: underline !important;
}

.btn-danger {
	position: relative;
	color: #fff !important;
    text-transform: uppercase !important;
    background-image: none !important;
    padding: 6px 12px;
	margin: 0 10px;
	margin: 0 10px;
    font-size: 14px !important;
    -moz-user-select: none;
    -ms-user-select: none;
    border-radius: 3px;
    text-: underline !important;
}

a.btn.btn-default {
    position: relative;
    font-family: 'Roboto', sans-serif !important;
    background-color: #ffb602 !important;
    border-color: #ffb602;
    color: #fff !important;
    text-transform: uppercase !important;
    background-image: none !important;
	font-weight: 300 !important;
    padding: 6px 12px;
	margin: 0 10px;
    font-size: 14px !important;
    -moz-user-select: none;
    -ms-user-select: none;
    border-radius: 3px;
    text-: underline !important;
	text-shadow: none;
}

.btn.btn-default {
    position: relative;
    font-family: 'Roboto', sans-serif !important;
    background-color: #ffb602 !important;
    border-color: #ffb602;
    color: #fff !important;
    text-transform: uppercase !important;
    background-image: none !important;
	font-weight: 300 !important;
    padding: 6px 12px;
	margin: 0 10px;
    font-size: 14px !important;
    -moz-user-select: none;
    -ms-user-select: none;
    border-radius: 3px;
    text-: underline !important;
	text-shadow: none;
}

form {
    margin: 0;
}

/****************************************************************************/

/** Mobile Design **/

/****************************************************************************/

.Site {
  display: flex;
  flex-direction: column;
  height: 100%; /* 1, 3 */
}

.Site-header,
.Site-footer {
  flex: none; /* 2 */
}

.Site-content {
  flex: 1 0 auto; /* 2 */
  padding: var(--space) var(--space) 0;
  width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.Site-content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}
@media (--break-lg) {
  .Site-content {
    padding-top: var(--space-lg);
  }
  .Site-content::after {
    margin-top: var(--space-lg);
  }
}

.Site-content--full {
  padding: 0;
}
.Site-content--full::after {
  content: none;
}



@media all and (max-width: 991px) {
	.standard-div {
		width: 100%;
	}
	.standard-width {
		padding: 5%;
	}
	.logoutLink a {
		font-size: 16px;
	}
	.col-fifty {
	width: 100%;
	}	
	.eight-hundred-width {
		width: 100%;
		padding: 0;
	}
	
	.footer-left {
		width: 100%;
		text-align: center;
	}
	.footer-right {
		float: right;
		width: 100%;
	}
	.footer-btm .copy {
		display: inline-block;
		line-height: 30px;
		float: none;
		text-align: center;
		width: 100%;
	}
	.footer-btm {
		min-height: 84px;
		padding: 12px 0 !important;
	}
	.footer-btm a {
		padding: 0 15px !important;
	}
	.inner-footer {
		display: inline-block;
		width: 100%;
	}
	.search-project {
		width: 100%;
	}
	.search-button {
		width: 100%;
	}
	select#searchSelect {
		width: 100%;
		margin: 5px 0;
	}
	input#streetNumber {
		width: 49%;
		margin: 5px 1% 5px 0;
	}
	input#streetName {
		width: 49%;
		margin: 5px 0 5px 1%;
	}
	input#projectEnrolment {
		width: 100%;
		min-width: 190px;
		margin: 0 auto;
	}

	input#projectName {
		width: 100%;
		margin: 5px 0;
	}
	.btn-primary, .btn.btn-default, a.btn.btn-default, .btn-danger {
		padding: 6px;
	}
	.grey-background {
		padding: 10px 15px;
	}
	.fifty-top-margin {
		margin: 25px auto 0 auto;
	}
	.fifty-margin {
		margin: 25px auto;
	}
	#createAdminBtn {
		float: left;
	}
	#update-user .form-control {
		float: none;
		margin: 0 auto;
	}
	table.table.searchProjectTable {
		width: 100%;
		max-width: 100%;
		margin-bottom: 20px;
		display: inline-block;
	}
	.searchProjectTable tr {
		position: relative;
		width: 100%;
	}
	table.table.searchProjectTable td, table.table.searchProjectTable th {
		padding: 10px 1%;
		width: 10%;
		word-break: break-all;
	}
	.search-companies-buttons a {
		margin: 0 !important;
	}
}

@media all and (max-width: 800px) {
	.form-label {
		width: 100%;
		text-align: center;
	}
	#create-user .form-control {
    margin: 0 auto;
	float: none;
}
}

@media all and (max-width: 600px) {
	input#streetNumber {
		width: 100%;
		margin: 5px 0;
	}
	input#streetName {
		width: 100%;
		margin: 5px 0;
	}
	.footer-btm a {
		line-height: 40px;
	}
}

@media all and (max-width: 400px) {
	.btn-primary, .btn.btn-default, a.btn.btn-default, .btn-danger {
		width: 100%;
		margin: 5px auto !important;
	}
	button {
		width: 100%;
	}
	
	.form-control {
		width: 100%;
	}
}

.pagination > .active > a {
    background-color: #337ab7 !important;;
}   

.navbar > div.container-fluid {
	background-color: rgba(37,88,141,.95) !important;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff !important;
}

nav.navbar {
	border: 0px;
}
